<p>Hi <%= @registration.name %></p>

<p>您已经完成报名 <%= link_to @event.name, event_url(@event) %></p>

<% content_for :action do %>
  <%= link_to "浏览报名结果", event_registration_url(@event, @registration), :clss => "btn-primary", :itemprop => "url" %>
<% end %>

<!-- 由用户触发的系统信比较适合用 HTML E-mail，用户会感觉那是系统自动寄出的信件。
但如果是客服回信或意见询问，用纯文字 E-mail 可能反而比较有诚意喔。
因为用户会感觉那是人写的信件，而不是系统自动寄出的信 -->
